@import 'src/variables.scss';

.register-main-section {
    padding: 0 16px 32px;
}

.login-link {
    padding-left: 5px;
    color: $primary-color !important;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

span.loading-spinner {
    display: inline-block;
}