<div class="home">
    <div class="logo">
        <img width="300" alt="Walletfather Logo" src="assets/logo.png">
    </div>
    <h1>
        Welcome to Walletfather
    </h1>
    <div class="content">
        <p>
            The mafia has arrived in the city and is demanding businesses to pay a commission for transacting ethereum in exchange for "security".
        </p>
        <p class="text-bold text-success">You will become a WalletFather, the man at the head of your gang, and you'll have the ability of create wallets, control all transactions and charge for them. Nice business, uh?
        </p>
        <p>Transaction charges are going to be stored in the contract address (soon).</p>
        <p>
            For now, the city is pretty small, and it needs to grow. So for now, the walletFather charges a really cheap amount for transactions.
            In a future, probably many walletFathers will arrive to the city, and you know what happens after, yes, war!. Stay tuned for that update!
        </p>
        <h3>Please Login to start</h3>
    </div>
</div>