@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

// Fonts
$font-stack: 'Ubuntu', 'Helvetica Neue', 'Arial', sans-serif;

// Colors
$primary-color: #2060AD;
$primary-light-color: #1274BB;
$accent-color: #ec6b30;
$accent-light-color: #ED713C;
$accent-lighter-color: #ee9953;
$disabled-accent-color: rgba(235, 108, 49, .55);
$disabled-color: rgba(0, 0, 0, .12);
$dark-gray-color: #666666;
$gray-color: #CFD1D2;
$light-gray-color: #E8E8E8;
$lighter-gray-color: #f6f6f6;
$whitesmoke-color: #FAFAFA;
$white-color: #ffffff;
$success-color: #1DA462;
$green-color: #14A800;
$error-color: #DD5144;
$warning-color: #FFCD46;
$info-color: #4C8BF5;
$darkened-blue-color: #323C52;
$dark-green-color: #015700;
$red-color: #DE0000;
$violet-color: #772F9E;
