<div
    *ngIf="isLoading"
    [ngClass]="{'full-height': fullHeight}"
    class="flex-vertical-center flex-justify-center h-80-vh">
    <div [ngClass]="{'full-height': fullHeight}">
        <div class="logo-container">
            <img 
                src="assets/images/paxaporte-logo/logo-paxaporte-blue.svg" 
                alt="logo-paxaporte">
        </div>
        <span class="pr-6 mt-12 flex-vertical-center flex-justify-center">
            <mat-spinner [diameter]="25"></mat-spinner>
        </span>
    </div>
</div>
